# Application Port
PORT=5000

# Node Environment
NODE_ENV=development

# Allowed CORS Origins (comma separated or specific domain)
CORS_ORIGIN=*

# PostgreSQL Connection String
# Inside Docker Compose: postgresql://postgres:postgres@db:5432/ecommerce?schema=public
# Local host development: postgresql://postgres:postgres@localhost:5432/ecommerce?schema=public
DATABASE_URL="postgresql://postgres:postgres@db:5432/ecommerce?schema=public"


